USE [JovenesDelFuturo]
GO
ALTER TABLE [dbo].[Tutores] DROP CONSTRAINT [relation_tutores_historial]
GO
ALTER TABLE [dbo].[Tutores] DROP CONSTRAINT [relation_tutores_empleos]
GO
ALTER TABLE [dbo].[Tutores] DROP CONSTRAINT [relation_tutores_domicilio]
GO
ALTER TABLE [dbo].[Tutores] DROP CONSTRAINT [relation_tutores_datosGen]
GO
ALTER TABLE [dbo].[PosiblesEstados] DROP CONSTRAINT [relation_PosiblesEstados_estados]
GO
ALTER TABLE [dbo].[Historial] DROP CONSTRAINT [relation_historial_tutores]
GO
ALTER TABLE [dbo].[Historial] DROP CONSTRAINT [relation_historial_posiblesestados]
GO
ALTER TABLE [dbo].[Historial] DROP CONSTRAINT [relation_historial_becarios]
GO
ALTER TABLE [dbo].[Empleos] DROP CONSTRAINT [relation_Empleos_Domicilio]
GO
ALTER TABLE [dbo].[Becarios] DROP CONSTRAINT [relation_becarios_nivelEstudios]
GO
ALTER TABLE [dbo].[Becarios] DROP CONSTRAINT [relation_becarios_historial]
GO
ALTER TABLE [dbo].[Becarios] DROP CONSTRAINT [relation_becarios_domicilio]
GO
ALTER TABLE [dbo].[Becarios] DROP CONSTRAINT [relation_becarios_datosGen]
GO
/****** Object:  Index [UQ__Tutores__9AFF8FC6134C510D]    Script Date: 02/11/2019 06:25:51 p. m. ******/
ALTER TABLE [dbo].[Tutores] DROP CONSTRAINT [UQ__Tutores__9AFF8FC6134C510D]
GO
/****** Object:  Index [UQ__Empleos__CAFFA85E3A7C80BF]    Script Date: 02/11/2019 06:25:51 p. m. ******/
ALTER TABLE [dbo].[Empleos] DROP CONSTRAINT [UQ__Empleos__CAFFA85E3A7C80BF]
GO
/****** Object:  Index [UQ__Empleos__17BADCA0C26FAC20]    Script Date: 02/11/2019 06:25:51 p. m. ******/
ALTER TABLE [dbo].[Empleos] DROP CONSTRAINT [UQ__Empleos__17BADCA0C26FAC20]
GO
/****** Object:  Index [UQ__DatosGen__2CDDD194CF65533E]    Script Date: 02/11/2019 06:25:51 p. m. ******/
ALTER TABLE [dbo].[DatosGen] DROP CONSTRAINT [UQ__DatosGen__2CDDD194CF65533E]
GO
/****** Object:  Index [UQ__Becarios__9AFF8FC61D109997]    Script Date: 02/11/2019 06:25:51 p. m. ******/
ALTER TABLE [dbo].[Becarios] DROP CONSTRAINT [UQ__Becarios__9AFF8FC61D109997]
GO
/****** Object:  Table [dbo].[Tutores]    Script Date: 02/11/2019 06:25:51 p. m. ******/
DROP TABLE [dbo].[Tutores]
GO
/****** Object:  Table [dbo].[PosiblesEstados]    Script Date: 02/11/2019 06:25:51 p. m. ******/
DROP TABLE [dbo].[PosiblesEstados]
GO
/****** Object:  Table [dbo].[NivelEstudio]    Script Date: 02/11/2019 06:25:51 p. m. ******/
DROP TABLE [dbo].[NivelEstudio]
GO
/****** Object:  Table [dbo].[Historial]    Script Date: 02/11/2019 06:25:51 p. m. ******/
DROP TABLE [dbo].[Historial]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 02/11/2019 06:25:51 p. m. ******/
DROP TABLE [dbo].[Estados]
GO
/****** Object:  Table [dbo].[Empleos]    Script Date: 02/11/2019 06:25:51 p. m. ******/
DROP TABLE [dbo].[Empleos]
GO
/****** Object:  Table [dbo].[Domicilio]    Script Date: 02/11/2019 06:25:51 p. m. ******/
DROP TABLE [dbo].[Domicilio]
GO
/****** Object:  Table [dbo].[DatosGen]    Script Date: 02/11/2019 06:25:51 p. m. ******/
DROP TABLE [dbo].[DatosGen]
GO
/****** Object:  Table [dbo].[Becarios]    Script Date: 02/11/2019 06:25:51 p. m. ******/
DROP TABLE [dbo].[Becarios]
GO
USE [master]
GO
/****** Object:  Database [JovenesDelFuturo]    Script Date: 02/11/2019 06:25:51 p. m. ******/
DROP DATABASE [JovenesDelFuturo]
GO
/****** Object:  Database [JovenesDelFuturo]    Script Date: 02/11/2019 06:25:51 p. m. ******/
CREATE DATABASE [JovenesDelFuturo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JovenesDelFuturo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\JovenesDelFuturo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JovenesDelFuturo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\JovenesDelFuturo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JovenesDelFuturo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JovenesDelFuturo]
GO
/****** Object:  Table [dbo].[Becarios]    Script Date: 02/11/2019 06:25:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Becarios](
	[idbecario] [int] NOT NULL,
	[usuario] [varchar](255) NOT NULL,
	[iddatosGen] [int] NOT NULL,
	[iddomicilio] [int] NOT NULL,
	[idnivelEstudio] [int] NULL,
	[idhistorial] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idbecario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosGen]    Script Date: 02/11/2019 06:25:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosGen](
	[iddatosGen] [int] NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[apPaterno] [varchar](255) NOT NULL,
	[apMaterno] [varchar](255) NOT NULL,
	[curp] [varchar](255) NOT NULL,
	[NombreCompleto]  AS (((([nombre]+' ')+[apPaterno])+' ')+[apMaterno]),
	[FechaNacimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[iddatosGen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Domicilio]    Script Date: 02/11/2019 06:25:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domicilio](
	[iddomicilio] [int] NOT NULL,
	[calle] [varchar](255) NOT NULL,
	[colonia] [varchar](255) NOT NULL,
	[codigoPostal] [int] NOT NULL,
	[municipio] [varchar](255) NOT NULL,
	[numeroExterior] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iddomicilio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleos]    Script Date: 02/11/2019 06:25:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleos](
	[idempleos] [int] NOT NULL,
	[iddomicilio] [int] NOT NULL,
	[razonSocial] [varchar](255) NOT NULL,
	[RFC] [varchar](255) NOT NULL,
	[giroDeEmpresa] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idempleos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 02/11/2019 06:25:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[idestado] [int] NOT NULL,
	[tipoDeEstado] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idestado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial]    Script Date: 02/11/2019 06:25:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial](
	[idhistorial] [int] NOT NULL,
	[idbecario] [int] NOT NULL,
	[idtutores] [int] NOT NULL,
	[idPosEstados] [int] NOT NULL,
	[fechaCambioEstado] [date] NOT NULL,
	[horaCambioEstado] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idhistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NivelEstudio]    Script Date: 02/11/2019 06:25:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelEstudio](
	[idnivelEstudio] [int] NOT NULL,
	[gradoDeEstudio] [varchar](255) NOT NULL,
	[institucion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idnivelEstudio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PosiblesEstados]    Script Date: 02/11/2019 06:25:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PosiblesEstados](
	[idPosiblesEstados] [int] NOT NULL,
	[estadoInicial] [varchar](255) NOT NULL,
	[estadoFinal] [varchar](255) NOT NULL,
	[idestado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPosiblesEstados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutores]    Script Date: 02/11/2019 06:25:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutores](
	[idtutores] [int] NOT NULL,
	[usuario] [varchar](255) NOT NULL,
	[iddatosGen] [int] NOT NULL,
	[iddomicilio] [int] NULL,
	[idempleos] [int] NULL,
	[idhistorial] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idtutores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DatosGen] ([iddatosGen], [nombre], [apPaterno], [apMaterno], [curp], [FechaNacimiento]) VALUES (1, N'Jesus', N'Carrizales', N'Mercedes', N'CAMJ770826HCXRRS14', CAST(N'1978-12-12' AS Date))
INSERT [dbo].[DatosGen] ([iddatosGen], [nombre], [apPaterno], [apMaterno], [curp], [FechaNacimiento]) VALUES (2, N'Jerson', N'Urdiales', N'Morales', N'UIMJ980911HCXRRR11', CAST(N'1998-09-11' AS Date))
INSERT [dbo].[DatosGen] ([iddatosGen], [nombre], [apPaterno], [apMaterno], [curp], [FechaNacimiento]) VALUES (3, N'Alan', N'Walker', N'Gonzales', N'WAGA990915HCXLNL24', CAST(N'1999-09-15' AS Date))
INSERT [dbo].[Domicilio] ([iddomicilio], [calle], [colonia], [codigoPostal], [municipio], [numeroExterior]) VALUES (1, N'Los Rosales', N'Los Cristales', 64982, N'Monterrey', 243)
INSERT [dbo].[Domicilio] ([iddomicilio], [calle], [colonia], [codigoPostal], [municipio], [numeroExterior]) VALUES (2, N'Arroyo gris', N'Los Arroyos', 64932, N'Monterrey', 232)
INSERT [dbo].[Domicilio] ([iddomicilio], [calle], [colonia], [codigoPostal], [municipio], [numeroExterior]) VALUES (3, N'Arroyo rojo', N'Los Arroyos', 64932, N'Monterrey', 321)
INSERT [dbo].[Empleos] ([idempleos], [iddomicilio], [razonSocial], [RFC], [giroDeEmpresa]) VALUES (1, 1, N'LG Electronics', N'CAMJ7812127K7', N'Elaboracion de electrodomesticos')
INSERT [dbo].[Empleos] ([idempleos], [iddomicilio], [razonSocial], [RFC], [giroDeEmpresa]) VALUES (4, 4, N'Sams Club', N'SERA901224AU6', N'Venta de productos para el hogar')
INSERT [dbo].[Empleos] ([idempleos], [iddomicilio], [razonSocial], [RFC], [giroDeEmpresa]) VALUES (5, 5, N'Hemsa S.A. de C.V.', N'CUSA880612BP4', N'Artículos de papelería, belleza, entretenimiento, hogar y mas')
INSERT [dbo].[Estados] ([idestado], [tipoDeEstado]) VALUES (1, N'Ofreciendo empleo')
INSERT [dbo].[Estados] ([idestado], [tipoDeEstado]) VALUES (2, N'Buscando empleo')
INSERT [dbo].[Estados] ([idestado], [tipoDeEstado]) VALUES (3, N'Buscando empleo')
INSERT [dbo].[NivelEstudio] ([idnivelEstudio], [gradoDeEstudio], [institucion]) VALUES (2, N'Licenciatura', N'UANL')
INSERT [dbo].[NivelEstudio] ([idnivelEstudio], [gradoDeEstudio], [institucion]) VALUES (3, N'Licenciatura', N'UNAM')
INSERT [dbo].[NivelEstudio] ([idnivelEstudio], [gradoDeEstudio], [institucion]) VALUES (7, N'Licenciatura', N'UANL')
INSERT [dbo].[PosiblesEstados] ([idPosiblesEstados], [estadoInicial], [estadoFinal], [idestado]) VALUES (1, N'Ofreciendo empleo', N'No disponible', 1)
INSERT [dbo].[PosiblesEstados] ([idPosiblesEstados], [estadoInicial], [estadoFinal], [idestado]) VALUES (2, N'Buscando empleo', N'Actualmente trabajando', 2)
INSERT [dbo].[PosiblesEstados] ([idPosiblesEstados], [estadoInicial], [estadoFinal], [idestado]) VALUES (3, N'Buscando empleo', N'Actualmente trabajando', 3)
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Becarios__9AFF8FC61D109997]    Script Date: 02/11/2019 06:25:52 p. m. ******/
ALTER TABLE [dbo].[Becarios] ADD UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DatosGen__2CDDD194CF65533E]    Script Date: 02/11/2019 06:25:52 p. m. ******/
ALTER TABLE [dbo].[DatosGen] ADD UNIQUE NONCLUSTERED 
(
	[curp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleos__17BADCA0C26FAC20]    Script Date: 02/11/2019 06:25:52 p. m. ******/
ALTER TABLE [dbo].[Empleos] ADD UNIQUE NONCLUSTERED 
(
	[razonSocial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleos__CAFFA85E3A7C80BF]    Script Date: 02/11/2019 06:25:52 p. m. ******/
ALTER TABLE [dbo].[Empleos] ADD UNIQUE NONCLUSTERED 
(
	[RFC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tutores__9AFF8FC6134C510D]    Script Date: 02/11/2019 06:25:52 p. m. ******/
ALTER TABLE [dbo].[Tutores] ADD UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Becarios]  WITH CHECK ADD  CONSTRAINT [relation_becarios_datosGen] FOREIGN KEY([iddatosGen])
REFERENCES [dbo].[DatosGen] ([iddatosGen])
GO
ALTER TABLE [dbo].[Becarios] CHECK CONSTRAINT [relation_becarios_datosGen]
GO
ALTER TABLE [dbo].[Becarios]  WITH CHECK ADD  CONSTRAINT [relation_becarios_domicilio] FOREIGN KEY([iddomicilio])
REFERENCES [dbo].[Domicilio] ([iddomicilio])
GO
ALTER TABLE [dbo].[Becarios] CHECK CONSTRAINT [relation_becarios_domicilio]
GO
ALTER TABLE [dbo].[Becarios]  WITH CHECK ADD  CONSTRAINT [relation_becarios_historial] FOREIGN KEY([idhistorial])
REFERENCES [dbo].[Historial] ([idhistorial])
GO
ALTER TABLE [dbo].[Becarios] CHECK CONSTRAINT [relation_becarios_historial]
GO
ALTER TABLE [dbo].[Becarios]  WITH CHECK ADD  CONSTRAINT [relation_becarios_nivelEstudios] FOREIGN KEY([idnivelEstudio])
REFERENCES [dbo].[NivelEstudio] ([idnivelEstudio])
GO
ALTER TABLE [dbo].[Becarios] CHECK CONSTRAINT [relation_becarios_nivelEstudios]
GO
ALTER TABLE [dbo].[Empleos]  WITH CHECK ADD  CONSTRAINT [relation_Empleos_Domicilio] FOREIGN KEY([iddomicilio])
REFERENCES [dbo].[Domicilio] ([iddomicilio])
GO
ALTER TABLE [dbo].[Empleos] CHECK CONSTRAINT [relation_Empleos_Domicilio]
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD  CONSTRAINT [relation_historial_becarios] FOREIGN KEY([idbecario])
REFERENCES [dbo].[Becarios] ([idbecario])
GO
ALTER TABLE [dbo].[Historial] CHECK CONSTRAINT [relation_historial_becarios]
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD  CONSTRAINT [relation_historial_posiblesestados] FOREIGN KEY([idPosEstados])
REFERENCES [dbo].[PosiblesEstados] ([idPosiblesEstados])
GO
ALTER TABLE [dbo].[Historial] CHECK CONSTRAINT [relation_historial_posiblesestados]
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD  CONSTRAINT [relation_historial_tutores] FOREIGN KEY([idtutores])
REFERENCES [dbo].[Tutores] ([idtutores])
GO
ALTER TABLE [dbo].[Historial] CHECK CONSTRAINT [relation_historial_tutores]
GO
ALTER TABLE [dbo].[PosiblesEstados]  WITH CHECK ADD  CONSTRAINT [relation_PosiblesEstados_estados] FOREIGN KEY([idestado])
REFERENCES [dbo].[Estados] ([idestado])
GO
ALTER TABLE [dbo].[PosiblesEstados] CHECK CONSTRAINT [relation_PosiblesEstados_estados]
GO
ALTER TABLE [dbo].[Tutores]  WITH CHECK ADD  CONSTRAINT [relation_tutores_datosGen] FOREIGN KEY([iddatosGen])
REFERENCES [dbo].[DatosGen] ([iddatosGen])
GO
ALTER TABLE [dbo].[Tutores] CHECK CONSTRAINT [relation_tutores_datosGen]
GO
ALTER TABLE [dbo].[Tutores]  WITH CHECK ADD  CONSTRAINT [relation_tutores_domicilio] FOREIGN KEY([iddomicilio])
REFERENCES [dbo].[Domicilio] ([iddomicilio])
GO
ALTER TABLE [dbo].[Tutores] CHECK CONSTRAINT [relation_tutores_domicilio]
GO
ALTER TABLE [dbo].[Tutores]  WITH CHECK ADD  CONSTRAINT [relation_tutores_empleos] FOREIGN KEY([idempleos])
REFERENCES [dbo].[Empleos] ([idempleos])
GO
ALTER TABLE [dbo].[Tutores] CHECK CONSTRAINT [relation_tutores_empleos]
GO
ALTER TABLE [dbo].[Tutores]  WITH CHECK ADD  CONSTRAINT [relation_tutores_historial] FOREIGN KEY([idhistorial])
REFERENCES [dbo].[Historial] ([idhistorial])
GO
ALTER TABLE [dbo].[Tutores] CHECK CONSTRAINT [relation_tutores_historial]
GO
USE [master]
GO
