USE [JovenesDelFuturo]
GO
/****** Object:  StoredProcedure [dbo].[procedure_nomb]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP PROCEDURE IF EXISTS [dbo].[procedure_nomb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tutores]') AND type in (N'U'))
ALTER TABLE [dbo].[Tutores] DROP CONSTRAINT IF EXISTS [relation_tutores_historial]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tutores]') AND type in (N'U'))
ALTER TABLE [dbo].[Tutores] DROP CONSTRAINT IF EXISTS [relation_tutores_empleos]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tutores]') AND type in (N'U'))
ALTER TABLE [dbo].[Tutores] DROP CONSTRAINT IF EXISTS [relation_tutores_domicilio]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tutores]') AND type in (N'U'))
ALTER TABLE [dbo].[Tutores] DROP CONSTRAINT IF EXISTS [relation_tutores_datosGen]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PosiblesEstados]') AND type in (N'U'))
ALTER TABLE [dbo].[PosiblesEstados] DROP CONSTRAINT IF EXISTS [relation_PosiblesEstados_estados]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Historial]') AND type in (N'U'))
ALTER TABLE [dbo].[Historial] DROP CONSTRAINT IF EXISTS [relation_historial_tutores]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Historial]') AND type in (N'U'))
ALTER TABLE [dbo].[Historial] DROP CONSTRAINT IF EXISTS [relation_historial_posiblesestados]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Historial]') AND type in (N'U'))
ALTER TABLE [dbo].[Historial] DROP CONSTRAINT IF EXISTS [relation_historial_becarios]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Empleos]') AND type in (N'U'))
ALTER TABLE [dbo].[Empleos] DROP CONSTRAINT IF EXISTS [relation_Empleos_Domicilio]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Becarios]') AND type in (N'U'))
ALTER TABLE [dbo].[Becarios] DROP CONSTRAINT IF EXISTS [relation_becarios_nivelEstudios]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Becarios]') AND type in (N'U'))
ALTER TABLE [dbo].[Becarios] DROP CONSTRAINT IF EXISTS [relation_becarios_historial]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Becarios]') AND type in (N'U'))
ALTER TABLE [dbo].[Becarios] DROP CONSTRAINT IF EXISTS [relation_becarios_domicilio]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Becarios]') AND type in (N'U'))
ALTER TABLE [dbo].[Becarios] DROP CONSTRAINT IF EXISTS [relation_becarios_datosGen]
GO
/****** Object:  Index [UQ__Tutores__9AFF8FC6134C510D]    Script Date: 10/11/2019 11:30:26 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tutores]') AND type in (N'U'))
ALTER TABLE [dbo].[Tutores] DROP CONSTRAINT IF EXISTS [UQ__Tutores__9AFF8FC6134C510D]
GO
/****** Object:  Index [UQ__Empleos__CAFFA85E3A7C80BF]    Script Date: 10/11/2019 11:30:26 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Empleos]') AND type in (N'U'))
ALTER TABLE [dbo].[Empleos] DROP CONSTRAINT IF EXISTS [UQ__Empleos__CAFFA85E3A7C80BF]
GO
/****** Object:  Index [UQ__Empleos__17BADCA0C26FAC20]    Script Date: 10/11/2019 11:30:26 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Empleos]') AND type in (N'U'))
ALTER TABLE [dbo].[Empleos] DROP CONSTRAINT IF EXISTS [UQ__Empleos__17BADCA0C26FAC20]
GO
/****** Object:  Index [UQ__DatosGen__2CDDD194CF65533E]    Script Date: 10/11/2019 11:30:26 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DatosGen]') AND type in (N'U'))
ALTER TABLE [dbo].[DatosGen] DROP CONSTRAINT IF EXISTS [UQ__DatosGen__2CDDD194CF65533E]
GO
/****** Object:  Index [UQ__Becarios__9AFF8FC61D109997]    Script Date: 10/11/2019 11:30:26 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Becarios]') AND type in (N'U'))
ALTER TABLE [dbo].[Becarios] DROP CONSTRAINT IF EXISTS [UQ__Becarios__9AFF8FC61D109997]
GO
/****** Object:  Table [dbo].[Tutores_No_Disponibles]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Tutores_No_Disponibles]
GO
/****** Object:  Table [dbo].[Tutores_No_Disponible]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Tutores_No_Disponible]
GO
/****** Object:  Table [dbo].[Tutores]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Tutores]
GO
/****** Object:  Table [dbo].[PosiblesEstados]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP TABLE IF EXISTS [dbo].[PosiblesEstados]
GO
/****** Object:  Table [dbo].[nombres]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP TABLE IF EXISTS [dbo].[nombres]
GO
/****** Object:  Table [dbo].[Historial]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Historial]
GO
/****** Object:  Table [dbo].[Empleos]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Empleos]
GO
/****** Object:  Table [dbo].[Becarios]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Becarios]
GO
/****** Object:  UserDefinedFunction [dbo].[dom_table]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP FUNCTION IF EXISTS [dbo].[dom_table]
GO
/****** Object:  View [dbo].[calles_d_sanPedro]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP VIEW IF EXISTS [dbo].[calles_d_sanPedro]
GO
/****** Object:  View [dbo].[curp_dom]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP VIEW IF EXISTS [dbo].[curp_dom]
GO
/****** Object:  Table [dbo].[Domicilio]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Domicilio]
GO
/****** Object:  View [dbo].[EstFin_personas]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP VIEW IF EXISTS [dbo].[EstFin_personas]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Estados]
GO
/****** Object:  View [dbo].[Nv_Estudio_Becarios]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP VIEW IF EXISTS [dbo].[Nv_Estudio_Becarios]
GO
/****** Object:  Table [dbo].[NivelEstudio]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP TABLE IF EXISTS [dbo].[NivelEstudio]
GO
/****** Object:  Table [dbo].[DatosGen]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP TABLE IF EXISTS [dbo].[DatosGen]
GO
/****** Object:  UserDefinedFunction [dbo].[formatoANSI]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP FUNCTION IF EXISTS [dbo].[formatoANSI]
GO
USE [master]
GO
/****** Object:  Database [JovenesDelFuturo]    Script Date: 10/11/2019 11:30:26 p. m. ******/
DROP DATABASE IF EXISTS [JovenesDelFuturo]
GO
/****** Object:  Database [JovenesDelFuturo]    Script Date: 10/11/2019 11:30:26 p. m. ******/
CREATE DATABASE [JovenesDelFuturo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JovenesDelFuturo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\JovenesDelFuturo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JovenesDelFuturo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\JovenesDelFuturo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JovenesDelFuturo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JovenesDelFuturo]
GO
/****** Object:  UserDefinedFunction [dbo].[formatoANSI]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[formatoANSI]( @parametro1 date )
		returns varchar(200)
		as
		begin
			return convert (varchar, DATEPART(YEAR, @parametro1)) + '-' +
			convert(varchar, DATEPART(MONTH, @parametro1)) + '-' +
			convert(varchar, DATEPART(DAY, @parametro1))
		END
GO
/****** Object:  Table [dbo].[DatosGen]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosGen](
	[iddatosGen] [int] NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[apPaterno] [varchar](255) NOT NULL,
	[apMaterno] [varchar](255) NOT NULL,
	[curp] [varchar](255) NOT NULL,
	[NombreCompleto]  AS (((([nombre]+' ')+[apPaterno])+' ')+[apMaterno]),
	[FechaNacimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[iddatosGen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NivelEstudio]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelEstudio](
	[idnivelEstudio] [int] NOT NULL,
	[gradoDeEstudio] [varchar](255) NOT NULL,
	[institucion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idnivelEstudio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Nv_Estudio_Becarios]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Nv_Estudio_Becarios] as(
				select ns.gradoDeEstudio, dg.nombre
				from NivelEstudio as ns
				left join DatosGen as dg
				on ns.idnivelEstudio = dg.iddatosGen)
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[idestado] [int] NOT NULL,
	[tipoDeEstado] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idestado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EstFin_personas]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[EstFin_personas] as(
				select dg.NombreCompleto, est.tipoDeEstado
				from DatosGen as dg
				left join Estados as est
				on dg.iddatosGen = est.idestado)

GO
/****** Object:  Table [dbo].[Domicilio]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domicilio](
	[iddomicilio] [int] NOT NULL,
	[calle] [varchar](255) NOT NULL,
	[colonia] [varchar](255) NOT NULL,
	[codigoPostal] [int] NOT NULL,
	[municipio] [varchar](255) NOT NULL,
	[numeroExterior] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iddomicilio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[curp_dom]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[curp_dom] as(
				select dg.curp, dm.calle, dm.numeroExterior
				from DatosGen as dg
				left join Domicilio  as dm
				on dg.iddatosGen = dm.iddomicilio)
GO
/****** Object:  View [dbo].[calles_d_sanPedro]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create view [dbo].[calles_d_sanPedro] as(
				select calle
				from Domicilio 
				where colonia = 'San Pedro Garza Garcia')
GO
/****** Object:  UserDefinedFunction [dbo].[dom_table]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[dom_table] (@parametro1 float)
		returns table 
			return select * from Domicilio
			where @parametro1 < numeroExterior
GO
/****** Object:  Table [dbo].[Becarios]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Becarios](
	[idbecario] [int] NOT NULL,
	[usuario] [varchar](255) NOT NULL,
	[iddatosGen] [int] NOT NULL,
	[iddomicilio] [int] NOT NULL,
	[idnivelEstudio] [int] NULL,
	[idhistorial] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idbecario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleos]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleos](
	[idempleos] [int] NOT NULL,
	[iddomicilio] [int] NOT NULL,
	[razonSocial] [varchar](255) NOT NULL,
	[RFC] [varchar](255) NOT NULL,
	[giroDeEmpresa] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idempleos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial](
	[idhistorial] [int] NOT NULL,
	[idbecario] [int] NOT NULL,
	[idtutores] [int] NOT NULL,
	[idPosEstados] [int] NOT NULL,
	[fechaCambioEstado] [date] NOT NULL,
	[horaCambioEstado] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idhistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nombres]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nombres](
	[nombre] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PosiblesEstados]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PosiblesEstados](
	[idPosiblesEstados] [int] NOT NULL,
	[estadoInicial] [varchar](255) NOT NULL,
	[estadoFinal] [varchar](255) NOT NULL,
	[idestado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPosiblesEstados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutores]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutores](
	[idtutores] [int] NOT NULL,
	[usuario] [varchar](255) NOT NULL,
	[iddatosGen] [int] NOT NULL,
	[iddomicilio] [int] NULL,
	[idempleos] [int] NULL,
	[idhistorial] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idtutores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutores_No_Disponible]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutores_No_Disponible](
	[estadoFinal] [varchar](255) NOT NULL,
	[usuario] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutores_No_Disponibles]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutores_No_Disponibles](
	[estadoFinal] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Becarios] ([idbecario], [usuario], [iddatosGen], [iddomicilio], [idnivelEstudio], [idhistorial]) VALUES (2, N'jerurdm', 2, 2, 2, NULL)
INSERT [dbo].[Becarios] ([idbecario], [usuario], [iddatosGen], [iddomicilio], [idnivelEstudio], [idhistorial]) VALUES (3, N'alawalg', 3, 3, 3, NULL)
INSERT [dbo].[Becarios] ([idbecario], [usuario], [iddatosGen], [iddomicilio], [idnivelEstudio], [idhistorial]) VALUES (7, N'alemorr', 7, 7, 7, NULL)
INSERT [dbo].[DatosGen] ([iddatosGen], [nombre], [apPaterno], [apMaterno], [curp], [FechaNacimiento]) VALUES (1, N'Jesus', N'Carrizales', N'Mercedes', N'CAMJ770826HCXRRS14', CAST(N'1978-12-12' AS Date))
INSERT [dbo].[DatosGen] ([iddatosGen], [nombre], [apPaterno], [apMaterno], [curp], [FechaNacimiento]) VALUES (2, N'Jerson', N'Urdiales', N'Morales', N'UIMJ980911HCXRRR11', CAST(N'1998-09-11' AS Date))
INSERT [dbo].[DatosGen] ([iddatosGen], [nombre], [apPaterno], [apMaterno], [curp], [FechaNacimiento]) VALUES (3, N'Alan', N'Walker', N'Gonzales', N'WAGA990915HCXLNL24', CAST(N'1999-09-15' AS Date))
INSERT [dbo].[Domicilio] ([iddomicilio], [calle], [colonia], [codigoPostal], [municipio], [numeroExterior]) VALUES (1, N'Los Rosales', N'Los Cristales', 64982, N'Monterrey', 243)
INSERT [dbo].[Domicilio] ([iddomicilio], [calle], [colonia], [codigoPostal], [municipio], [numeroExterior]) VALUES (2, N'Arroyo gris', N'Los Arroyos', 64932, N'Monterrey', 232)
INSERT [dbo].[Domicilio] ([iddomicilio], [calle], [colonia], [codigoPostal], [municipio], [numeroExterior]) VALUES (3, N'Arroyo rojo', N'Los Arroyos', 64932, N'Monterrey', 321)
INSERT [dbo].[Empleos] ([idempleos], [iddomicilio], [razonSocial], [RFC], [giroDeEmpresa]) VALUES (1, 1, N'LG Electronics', N'CAMJ7812127K7', N'Elaboracion de electrodomesticos')
INSERT [dbo].[Empleos] ([idempleos], [iddomicilio], [razonSocial], [RFC], [giroDeEmpresa]) VALUES (4, 4, N'Sams Club', N'SERA901224AU6', N'Venta de productos para el hogar')
INSERT [dbo].[Empleos] ([idempleos], [iddomicilio], [razonSocial], [RFC], [giroDeEmpresa]) VALUES (5, 5, N'Hemsa S.A. de C.V.', N'CUSA880612BP4', N'Artículos de papelería, belleza, entretenimiento, hogar y mas')
INSERT [dbo].[Estados] ([idestado], [tipoDeEstado]) VALUES (1, N'Ofreciendo empleo')
INSERT [dbo].[Estados] ([idestado], [tipoDeEstado]) VALUES (2, N'Buscando empleo')
INSERT [dbo].[Estados] ([idestado], [tipoDeEstado]) VALUES (3, N'Buscando empleo')
INSERT [dbo].[NivelEstudio] ([idnivelEstudio], [gradoDeEstudio], [institucion]) VALUES (2, N'Licenciatura', N'UANL')
INSERT [dbo].[NivelEstudio] ([idnivelEstudio], [gradoDeEstudio], [institucion]) VALUES (3, N'Licenciatura', N'UNAM')
INSERT [dbo].[NivelEstudio] ([idnivelEstudio], [gradoDeEstudio], [institucion]) VALUES (7, N'Licenciatura', N'UANL')
INSERT [dbo].[nombres] ([nombre]) VALUES (N'Jesus')
INSERT [dbo].[nombres] ([nombre]) VALUES (N'Jerson')
INSERT [dbo].[nombres] ([nombre]) VALUES (N'Alan')
INSERT [dbo].[PosiblesEstados] ([idPosiblesEstados], [estadoInicial], [estadoFinal], [idestado]) VALUES (1, N'Ofreciendo empleo', N'No disponible', 1)
INSERT [dbo].[PosiblesEstados] ([idPosiblesEstados], [estadoInicial], [estadoFinal], [idestado]) VALUES (2, N'Buscando empleo', N'Actualmente trabajando', 2)
INSERT [dbo].[PosiblesEstados] ([idPosiblesEstados], [estadoInicial], [estadoFinal], [idestado]) VALUES (3, N'Buscando empleo', N'Actualmente trabajando', 3)
INSERT [dbo].[Tutores] ([idtutores], [usuario], [iddatosGen], [iddomicilio], [idempleos], [idhistorial]) VALUES (1, N'jescarm', 1, 1, 1, NULL)
INSERT [dbo].[Tutores] ([idtutores], [usuario], [iddatosGen], [iddomicilio], [idempleos], [idhistorial]) VALUES (4, N'abesesr', 4, 4, 4, NULL)
INSERT [dbo].[Tutores] ([idtutores], [usuario], [iddatosGen], [iddomicilio], [idempleos], [idhistorial]) VALUES (5, N'alfcuas', 5, 5, 5, NULL)
INSERT [dbo].[Tutores_No_Disponible] ([estadoFinal], [usuario]) VALUES (N'No disponible', N'abesesr')
INSERT [dbo].[Tutores_No_Disponible] ([estadoFinal], [usuario]) VALUES (N'No disponible', N'abesesr')
INSERT [dbo].[Tutores_No_Disponible] ([estadoFinal], [usuario]) VALUES (N'No disponible', N'abesesr')
INSERT [dbo].[Tutores_No_Disponibles] ([estadoFinal]) VALUES (N'No disponible')
INSERT [dbo].[Tutores_No_Disponibles] ([estadoFinal]) VALUES (N'No disponible')
INSERT [dbo].[Tutores_No_Disponibles] ([estadoFinal]) VALUES (N'No disponible')
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Becarios__9AFF8FC61D109997]    Script Date: 10/11/2019 11:30:26 p. m. ******/
ALTER TABLE [dbo].[Becarios] ADD UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DatosGen__2CDDD194CF65533E]    Script Date: 10/11/2019 11:30:26 p. m. ******/
ALTER TABLE [dbo].[DatosGen] ADD UNIQUE NONCLUSTERED 
(
	[curp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleos__17BADCA0C26FAC20]    Script Date: 10/11/2019 11:30:26 p. m. ******/
ALTER TABLE [dbo].[Empleos] ADD UNIQUE NONCLUSTERED 
(
	[razonSocial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleos__CAFFA85E3A7C80BF]    Script Date: 10/11/2019 11:30:26 p. m. ******/
ALTER TABLE [dbo].[Empleos] ADD UNIQUE NONCLUSTERED 
(
	[RFC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tutores__9AFF8FC6134C510D]    Script Date: 10/11/2019 11:30:26 p. m. ******/
ALTER TABLE [dbo].[Tutores] ADD UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Becarios]  WITH CHECK ADD  CONSTRAINT [relation_becarios_datosGen] FOREIGN KEY([iddatosGen])
REFERENCES [dbo].[DatosGen] ([iddatosGen])
GO
ALTER TABLE [dbo].[Becarios] CHECK CONSTRAINT [relation_becarios_datosGen]
GO
ALTER TABLE [dbo].[Becarios]  WITH CHECK ADD  CONSTRAINT [relation_becarios_domicilio] FOREIGN KEY([iddomicilio])
REFERENCES [dbo].[Domicilio] ([iddomicilio])
GO
ALTER TABLE [dbo].[Becarios] CHECK CONSTRAINT [relation_becarios_domicilio]
GO
ALTER TABLE [dbo].[Becarios]  WITH CHECK ADD  CONSTRAINT [relation_becarios_historial] FOREIGN KEY([idhistorial])
REFERENCES [dbo].[Historial] ([idhistorial])
GO
ALTER TABLE [dbo].[Becarios] CHECK CONSTRAINT [relation_becarios_historial]
GO
ALTER TABLE [dbo].[Becarios]  WITH CHECK ADD  CONSTRAINT [relation_becarios_nivelEstudios] FOREIGN KEY([idnivelEstudio])
REFERENCES [dbo].[NivelEstudio] ([idnivelEstudio])
GO
ALTER TABLE [dbo].[Becarios] CHECK CONSTRAINT [relation_becarios_nivelEstudios]
GO
ALTER TABLE [dbo].[Empleos]  WITH CHECK ADD  CONSTRAINT [relation_Empleos_Domicilio] FOREIGN KEY([iddomicilio])
REFERENCES [dbo].[Domicilio] ([iddomicilio])
GO
ALTER TABLE [dbo].[Empleos] CHECK CONSTRAINT [relation_Empleos_Domicilio]
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD  CONSTRAINT [relation_historial_becarios] FOREIGN KEY([idbecario])
REFERENCES [dbo].[Becarios] ([idbecario])
GO
ALTER TABLE [dbo].[Historial] CHECK CONSTRAINT [relation_historial_becarios]
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD  CONSTRAINT [relation_historial_posiblesestados] FOREIGN KEY([idPosEstados])
REFERENCES [dbo].[PosiblesEstados] ([idPosiblesEstados])
GO
ALTER TABLE [dbo].[Historial] CHECK CONSTRAINT [relation_historial_posiblesestados]
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD  CONSTRAINT [relation_historial_tutores] FOREIGN KEY([idtutores])
REFERENCES [dbo].[Tutores] ([idtutores])
GO
ALTER TABLE [dbo].[Historial] CHECK CONSTRAINT [relation_historial_tutores]
GO
ALTER TABLE [dbo].[PosiblesEstados]  WITH CHECK ADD  CONSTRAINT [relation_PosiblesEstados_estados] FOREIGN KEY([idestado])
REFERENCES [dbo].[Estados] ([idestado])
GO
ALTER TABLE [dbo].[PosiblesEstados] CHECK CONSTRAINT [relation_PosiblesEstados_estados]
GO
ALTER TABLE [dbo].[Tutores]  WITH CHECK ADD  CONSTRAINT [relation_tutores_datosGen] FOREIGN KEY([iddatosGen])
REFERENCES [dbo].[DatosGen] ([iddatosGen])
GO
ALTER TABLE [dbo].[Tutores] CHECK CONSTRAINT [relation_tutores_datosGen]
GO
ALTER TABLE [dbo].[Tutores]  WITH CHECK ADD  CONSTRAINT [relation_tutores_domicilio] FOREIGN KEY([iddomicilio])
REFERENCES [dbo].[Domicilio] ([iddomicilio])
GO
ALTER TABLE [dbo].[Tutores] CHECK CONSTRAINT [relation_tutores_domicilio]
GO
ALTER TABLE [dbo].[Tutores]  WITH CHECK ADD  CONSTRAINT [relation_tutores_empleos] FOREIGN KEY([idempleos])
REFERENCES [dbo].[Empleos] ([idempleos])
GO
ALTER TABLE [dbo].[Tutores] CHECK CONSTRAINT [relation_tutores_empleos]
GO
ALTER TABLE [dbo].[Tutores]  WITH CHECK ADD  CONSTRAINT [relation_tutores_historial] FOREIGN KEY([idhistorial])
REFERENCES [dbo].[Historial] ([idhistorial])
GO
ALTER TABLE [dbo].[Tutores] CHECK CONSTRAINT [relation_tutores_historial]
GO
/****** Object:  StoredProcedure [dbo].[procedure_nomb]    Script Date: 10/11/2019 11:30:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[procedure_nomb](@parametro2 float)
			as
			BEGIN
				select * from Domicilio
				where @parametro2 < 1000
			END

GO
USE [master]
GO
